body {
    background-color: #D29BFD;
}
h1 {
    color: deeppink;
    font-family: Times New Roman;
    text-align: center
}


h2 {color: deeppink;
    font-family: Times New Roman
    
}

p {
    color: deeppink;
    font-family: Baskerville;
    text-align: justify
}

a {
    color: blueviolet;
}
button {
    background-color: pink;
    border: azure}
    .diário {
        border: 1px solid gray;
        font-family: "Sofia" sans-serif;
  }
